<script setup lang="ts">
  import { basename } from 'pathe'	
  const Empty = resolveComponent('Empty') 
  import type { NavItem, QueryBuilderParams } from '@nuxt/content/dist/runtime/types';

  const props = defineProps<{
    navigation: NavItem
    contentList: any
    tag?: string
    excerpt?: boolean
    head?: undefined | boolean
  }>()

  const content = computed(() => props.contentList[props.navigation._path])
  const contentDir = computed(() => props.contentList[navDir(props.navigation._path)])

  const templateName = (path: string) => path == props.navigation._path ? 'default' : basename(path)
</script>

<template>
    <ContentHead v-if="(head || (head === undefined && navigation._path == '/')) && (contentDir || content)" :document="contentDir || content" />
    <template v-if="contentDir?.recurse == 'list'">
      <component :is="contentDir?.component ?? Empty" v-bind="contentDir ?? {}">
        <ComponentContentDocNav v-for="child in navigation.children" :key="child._path" v-bind="$props" :navigation="child" :head="false">
           <template v-for="(_, name) in $slots" #[name]="scope: any">
             <slot :name v-bind="scope" :data="contentDir"/>
           </template>
        </ComponentContentDocNav>
      </component>
    </template>
    <template v-else-if="contentDir?.recurse == 'template'">
      <component :is="contentDir?.component ?? Empty" v-bind="contentDir ?? {}">
          <template v-for="child in navigation.children" :key="child._path" #[templateName(child._path)]>
            <ComponentContentDocNav v-bind="$props" :head="false" :navigation="child">
               <template v-for="(_, name) in $slots" #[name]="scope: any">
                 <slot :name v-bind="scope" :data="contentDir" />
               </template>
            </ComponentContentDocNav>
          </template>
      </component>
    </template>
    <template v-else-if="content">
      <component :is="content?.component ?? Empty" v-bind="content ?? {}">
        <ContentRenderer :value="content" :tag :excerpt>
          <template v-for="(_, name) in $slots" #[name]="scope">
            <slot :name v-bind="scope" :data="content" />
          </template>
        </ContentRenderer>
      </component>
    </template>
    <template v-else>
      <component :is="content?.component ?? Empty" v-bind="content ?? {}">
        <slot name="not-found">
	  Document not found
	</slot>
      </component>
    </template>
</template>
