<template>
  <div class="w-full h-[10mm] fill-base-200 bg-base-100" style="mask: url('data:image/svg+xml,<svg width=&quot;100%&quot; id=&quot;svg&quot; viewBox=&quot;0 0 1440 400&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; class=&quot;fill-base-100&quot;><path d=&quot;M 0,400 L 0,150 C 93.48325358851676,157.91387559808612 186.96650717703352,165.82775119617222 270,179 C 353.0334928229665,192.17224880382778 425.61722488038276,210.60287081339715 523,190 C 620.3827751196172,169.39712918660285 742.5645933014354,109.76076555023923 846,88 C 949.4354066985646,66.23923444976077 1034.1244019138758,82.35406698564593 1130,99 C 1225.8755980861242,115.64593301435407 1332.9377990430621,132.82296650717703 1440,150 L 1440,400 L 0,400 Z&quot; stroke=&quot;none&quot; stroke-width=&quot;0&quot; fill-opacity=&quot;1&quot; transform=&quot;rotate(-180 720 200)&quot;></path></svg>')" />
</template>
