<script setup lang="ts">
  const props = defineProps<{
    avatar: string
    }>()
</script>

<template>
  <div class="w-3/5 mt-[-15mm] mb-[3mm] mx-auto">
    <div class="avatar">
      <NuxtImg class="rounded-full ring ring-accent ring-offset-base-300 ring-offset-2" :src="props.avatar" />
    </div>
  </div>
</template>
