<script setup lang="ts">
  import type { QueryBuilderParams } from '@nuxt/content/dist/runtime/types';
  export interface Props {
    tag?: string
    path?: string
    excerpt?: boolean
    query?: QueryBuilderParams
    head?: undefined | boolean
  }

  const { locale } = useI18n()

  const props = withDefaults(defineProps<Props>(), {
    head: undefined
  })

  const navPath = computed(() =>
    useTrimEnd('/' + locale.value + (props.path || props.query?.path || useRoute().path), '/')
  )

  const findPath = (a, found) => {
    return a.reduce((found, nav) => {
      return found || (nav._path === navPath.value && nav) || (nav.children && findPath(nav.children, found)) || undefined
    }, found)
  }

  const transformNavigation = (navigation) => {
    // if we are looking for a subdirectory, just find it in the navigation
    if (navPath.value != '/')
      return findPath(navigation, undefined)
   // fetchNavigation returns an array of all '/' children. We need special treatment to return the same structure as any other directory
    return {title: '', _path: '/', 'children': navigation}
    // FIXME fetchNavigation has strange behavior
    // if /_dir.yml exists but not /index.md, _dir file is not returned
    // if /index.md exists but not /_dir.yml, all is well
    // if /index.md exists and /_dir.yml exits, _dir replaces index.md instead of being a root node
    // FIXME for this component to be fully generic, we should parse navigation keys for both _dir and index and fix the nodes
    // Bug has been reported upstream https://github.com/nuxt/content/issues/2660
  }

  const { data: navigationFetched } = await useAsyncData('navigation', () => fetchContentNavigation())
  const navigation = computed(() => transformNavigation(navigationFetched.value))

  const listQuery = computed(() => {
    return {
      ...props.query ?? {},
      where: {
	...props.query?.where ?? {},
	_path: new RegExp(`^${useEscapeRegExp(useTrimEnd(navPath.value, '/'))}(/.*)?$`) // RexExp for '/' must be ''
      },
    }
  })

  const { data: contentList } = await useAsyncData('content' + navPath.value, () => queryContent(listQuery.value).find(), {
    transform: (a) => a.reduce((a, v) => ({ ...a, [v._path]: v}), {}) // Transform array into an Object
  })
</script>

<template>
  <ComponentContentDocNav :navigation :contentList :tag :excerpt :head>
    <template v-for="(_, name) in $slots" #[name]="scope">
      <slot :name v-bind="scope" />
    </template>
  </ComponentContentDocNav>
</template>
