<script setup lang="ts">
  //import type { QueryBuilderParams } from '@nuxt/content/dist/runtime/types';
  export interface Props {
    name: string
    fill?: string
    stroke?: string
    inline?: boolean
  }

  const props = withDefaults(defineProps<Props>(), {
    fill: "",
    stroke: "",
    inline: false,
  })

  const icons = {
  'heart': resolveComponent('LucideHeart'),
  'graduation-cap': resolveComponent('LucideGraduationCap'),
  'square-check': resolveComponent('LucideSquareCheck'),
  'handshake': resolveComponent('LucideHandshake'),
  'home': resolveComponent('LucideHome'),
  'users-round': resolveComponent('LucideUsersRound'),
  'square-terminal': resolveComponent('LucideSquareTerminal'),
  'panels-top-left': resolveComponent('LucidePanelsTopLeft'),
  'laptop': resolveComponent('LucideLaptop'),
  'mountain': resolveComponent('LucideMountain'),
  'university': resolveComponent('LucideUniversity'),
  }

  const classes = computed(() => (
    (props.fill ? `fill-${props.fill}` : '') + ' ' +
    (props.stroke ? `stroke-${props.stroke}` : '') + ' ' +
    (props.inline ? 'inline-block' : '')
  ))
</script>

<template>
  <component :is="icons[name]" :class="classes" />
</template>
