<script setup lang="ts">
  const props = defineProps<{
    title?: string
    age?: string
    permit?: string
    phone?: string
    email?: string
    address?: string
    openstreetmap?: string
    github?: string
    gitlab?: string
    }>()
</script>

<template>
  <LayoutSection :title>
    <div v-if="age" class="flex items-center gap-2 mb-2">
      <LucideCake class="inline-block h-5 w-5" />
      {{ age }}
    </div>
    <div v-if="permit" class="flex items-center gap-2 mb-2">
      <LucideIdCard class="inline-block h-5 w-5" />
      {{ permit }}
    </div>
    <div v-if="address" class="flex items-center gap-2 mb-2">
      <LucideMapPin class="inline-block h-5 w-5" />
      <ProseA :href="`https://www.openstreetmap.org/node/${openstreetmap}`">{{ address }}</ProseA>
    </div>
    <div v-if="phone" class="flex items-center gap-2 mb-2">
      <LucidePhone class="inline-block h-5 w-5" />
      <ProseA :href="`tel:${phone}`">{{ phone }}</ProseA>
    </div>
    <div v-if="email" class="flex items-center gap-2 mb-2">
      <LucideMail class="inline-block h-5 w-5" />
      <ProseA :href="`mailto:${email}`">{{ email }}</ProseA>
    </div>
    <div v-if="github" class="flex items-center gap-2 mb-2">
      <LucideGithub class="inline-block h-5 w-5" />
      <ProseA :href="`https://github.com/${github}`">@{{ github }}</ProseA>
    </div>
    <div v-if="gitlab" class="flex items-center gap-2 mb-2">
      <LucideGitlab class="self-center h-5 w-5" />
      <ProseA :href="`https://gitlab.com/${gitlab}`">@{{ gitlab }}</ProseA>
    </div>
  </LayoutSection>
</template>

