<script setup lang="ts">
  const props = defineProps<{
    title?: string
    }>()
</script>

<template>
  <section class="first:mt-[2mm]">
    <h2 v-if="title" class="uppercase text-lg font-bold text-primary pb-[2mm] pl-[10mm] mb-[3mm] border-b border-base-content">
      {{ title }}
    </h2>
    <div class="px-[3mm]">
      <ContentSlot />
    </div>
  </section>
</template>
