<script setup lang="ts">
  const props = defineProps<{
    title?: string
    items: string[]
    }>()
</script>

<template>
  <section class="mb-[3mm]">
    <h3 v-if="title" class="uppercase text-base font-bold text-secondary pb-[1mm]">
      {{ title }}
    </h3>
    <ul class="flex flex-wrap gap-[1mm]">
      <li v-for="item in props.items" class="badge badge-secondary text-neutral-content">
        {{ item }}
      </li>
    </ul>
  </section>
</template>
