<script setup lang="ts">
  const props = defineProps<{
    firstName: string
    lastName: string
    title: string
    }>()
</script>

<template>
    <header>
      <div class="relative h-[83mm] w-full">
        <div class="absolute top-[5mm] left-[5mm] h-[60mm]">
          <NuxtImg class="h-full" src="/totem__preview.webp" />
        </div>
        <div class="absolute top-[5mm] right-[20mm]">
          <hgroup class="">
            <h1 class="uppercase text-4xl font-bold m-0">
              <span class="ml-[20mm]">{{ props.firstName }}</span>
              <br />
              <span class="ml-[10mm]">{{ props.lastName }}</span>
            </h1>
            <p class="uppercase font-bold text-xl m-0">{{ props.title }}</p>
          </hgroup>
        </div>
        <div class="absolute top-[38mm] left-[50mm] w-[155mm] chat chat-start">
          <div class="chat-bubble chat-bubble-accent max-w-none">
            <ContentSlot />
          </div>
        </div>
      </div>
    </header>
</template>
