<script setup lang="ts">
  const props = defineProps<{
    firstName: string
    lastName: string
    title: string
    }>()
</script>

<template>
  <header class="h-[10mm] shrink-0 overflow-hidden">
    <hgroup class="bg-neutral text-neutral-content h-full flex justify-between items-center">
      <h1 class="uppercase text-xl font-bold m-0 pl-[5mm]">
        <span>{{ props.firstName }}</span> <span>{{ props.lastName }}</span>
      </h1>
      <p class="uppercase font-bold text-md m-0 pr-[5mm]">{{ props.title }}</p>
    </hgroup>
  </header>
</template>
