<script setup>
  const props = defineProps(['layout'])
  const layoutName = props.layout && props.layout.name || 'Default'
</script>

<template>
  <section class="h-[297mm] w-[210mm] overflow-hidden bg-base-100 m-0 print:h-screen print:w-screen">
  <div class="flex flex-col h-full">
    <ContentSlot name="header" />
    <div class="flex flex-row grow">
      <aside class="w-[60mm] shrink-0 flex flex-col bg-slate-200">
        <ContentSlot name="aside" />
      </aside>
      <section>
        <ContentSlot />
      </section>
    </div>
    <ContentSlot name="footer" />
  </div>
  </section>
</template>
