<script setup lang="ts">
  const props = defineProps<{
    title?: string
    }>()
</script>

<template>
    <div class="chat chat-end place-items-start">
      <div class="chat-bubble chat-bubble-accent">
        <ContentSlot />
      </div>
    </div>
    <div class="grid place-items-end">
    <div class="badge badge-neutral flex flex-col h-fit">
      <ContentSlot name="author" />
    </div>
    </div>
</template>
