<script setup lang="ts">
  const props = defineProps<{
    title?: string
    value: number
    }>()
</script>

<template>
  <section class="mb-[3mm]">
    <h3 v-if="title" class="uppercase text-base font-bold text-secondary pb-[1mm]">
      {{ title }}
    </h3>
    <div class="">
      <ContentSlot />
      <progress class="progress progress-accent" :value max="10"></progress>
    </div>
  </section>
</template>
