<script setup lang="ts">
  const props = defineProps<{
    title: string
    startTime: string | number
    endTime?: string | number
    first?: boolean
    last?: boolean
    icon: string
    }>()
</script>

<template>
  <li>
    <hr v-if="!first" class="bg-secondary" />
    <div class="timeline-middle">
      <Icon :name="icon" />
    </div>
    <div class="timeline-end pl-[3mm] pb-[2mm]">
      <h3 class="uppercase font-bold">
        <span>{{ title }}</span>
      </h3>
      <p>
        <span class="inline-flex items-center text-secondary mr-[5mm]">
      	  {{ startTime }}
	        <LucideMoveRight v-if="endTime" class="h-4" />
          {{ endTime }}
        </span>
        <ContentSlot unwrap="p" />
      </p>
    </div>
    <hr v-if="!last" class="bg-secondary" />
  </li>
</template>
