<script setup lang="ts">
  const props = defineProps<{
    title?: string
    }>()
</script>

<template>
  <LayoutSection :title>
    <TimelineList>
      <ContentSlot />
    </TimelineList>
  </LayoutSection>
</template>

